@CHARSET "ISO-8859-1";

table {
    border-collapse: collapse;
    width: 70%;
    border: 1px solid #cbcbcb;
    max-width: 1080px;
    min-width: 480px;
}

th, td.time {
	text-align: center;
	border: 1px solid black;
	padding: 0.2em;
	width: 10%;
	background: #cce5ff
}

td.table_data {
	text-align: center;
	border: 1px solid black;
	padding: 0.2em;
	width: 10%;
	cursor: pointer;
}

html {
	font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 350%;
    font-weight: 300;
}

h2 {
    font-size: 200%;
    font-weight: 300;
}

p, form, input, submit, td, th {
    font-size: 100%;
    font-weight: 400;
}

input {
	margin-top: 0.2em;
	margin-bottom: 0.8em;
	display: block;
}