@CHARSET "ISO-8859-1";

@media print {
	
	*{-webkit-print-color-adjust:exact;}
	
	@page {
		size: landscape;
	}
}


html {
	font-family: 'Open Sans', sans-serif;
	/*	font-family: 'Raleway', sans-serif; */
}

table {
	border-collapse: collapse;
	border: 1px solid #cbcbcb;
	width: 80%;
	max-width: 2000px;
	min-width: 340px;
	min-height: 550px;
}

table.printTable {
	width: 1500px;
	height: 700px;
}

th, td.time {
	text-align: center;
	border: 1px solid #999999;
	/* 	padding: 0.2em; */
	width: 10%;
	height: 10px;
	background: #191818;
	color: #999999;
	font-weight: 400;
}

td.table_data {
	text-align: center;
	border: 1px solid black;
	/*	padding: 0.2em; */
	width: 10%;
	max-width: 150px;
	cursor: pointer;
	word-wrap: break-word;
	color: #191818;
	padding: 1px;
}

h1 {
	font-size: 350%;
	font-weight: 300;
	color: #4b4b4b;
}

h2 {
	font-size: 200%;
	font-weight: 300;
	word-wrap: break-word;
	color: #4b4b4b;
}

h3 {
	font-size: 150%;
	font-weight: 300;
	color: #4b4b4b;
	margin-bottom: 5px;
}

#rightheader {
	float: right;
	padding-right: 20%;
}

p, form, input, submit, td, select {
	font-size: 100%;
	font-weight: 400;
	color: #191818;
}

input, select {
	margin-top: 0.2em;
	margin-bottom: 1em;
	padding-bottom: 0.2em;
	display: block;
}

input.table_btns, form.table_btns {
	display: inline;
	margin-right: 0.2em;
	margin-top: 1.8em;
}